<section class="menu">
    <div class="menu-logo">
        <img src="https://via.placeholder.com/35" alt="">
        <p>Mi Aguila</p> 
    </div>
    <div class="menu-profile">
        <img class="menu-profile-image" src="https://via.placeholder.com/100" alt="">
        <h4 class="menu-profile-name">Jorge Solano</h4>
        <p class="menu-profile-type">Beneficiario</p>
    </div>
    <nav class="menu-items">
        <ul class="menu-items-ul">
            <a [routerLink]="">
                <li class="menu-items-item active">Pedir Aguila</li>
            </a>
            <a [routerLink]="">
                <li class="menu-items-item">Vuelos</li>
            </a>
            <a [routerLink]="">
                <li class="menu-items-item">Rutas</li>
            </a>
            <a [routerLink]="">
                <li class="menu-items-item">Administrar</li>
            </a>

            <a [routerLink]="">
                <li class="menu-items-item">Estadisticas</li>
            </a>

            <a [routerLink]="">
                <li class="menu-items-item">Metodos de pago</li>
            </a>

            <a [routerLink]="">
                <li class="menu-items-item">Cerrar Sesión</li>
            </a>

        </ul>
    </nav>
</section>